* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #C0C0C0;
    height: 100vh;
}

h1 {
    text-align: center;
    animation: heartBeat;
    animation-duration: 200s;
    padding-top: 30px;
}

.resetBut {
        text-align: center;
        color: red;
        background-color: #C0C0C0;
        border: groove black 2px;
        height:30px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top: 2%;
        left:60%;
}

.playlist {
    text-align: center;
        color: red;
        background-color: #C0C0C0;
        border: groove black 2px;
        height:30px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top: 2%;
        left: 40%;
}

.memory-game {
    width: 750px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
  
.albumCell {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
}
   
.albumFront {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    background: black;
    backface-visibility: hidden;
    object-fit: cover;
}

.albumBack {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    background: orangered;
    backface-visibility: hidden;
    object-fit: cover;
}



.test {
    height: 100%;
}
